<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test_001">
    <classes>
      <class name="com.BeatO.testCases.Tc_FreeGluco_001"/>
    </classes>
  </test> <!-- Test_001 -->
</suite> <!-- Suite -->
